{% include 'base.html' %}

{% block body %}
<body data-layout-mode="detached"
    data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": true}, "topbar": {"color": "dark"}, "showRightSidebarOnPageLoad": true}'>
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Car Owners Count</h4>
                    <div class="mt-4">
                        <canvas id="myChart" height="250"></canvas>
                        <script>
                            document.addEventListener('DOMContentLoaded', function () {
                                // Récupérer les données JSON transmises depuis Flask
                                var carOwnerCounts = JSON.parse(
                                    '{{ car_owner_counts_json | safe }}');

                                // Extraire les clés (propriétaires de voitures) et les valeurs (nombre de voitures)
                                var labels = Object.keys(carOwnerCounts);
                                var data = Object.values(carOwnerCounts);

                                // Créer un nouveau graphique à barres avec Chart.js
                                var ctx = document.getElementById('myChart').getContext('2d');
                                var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: labels,
                                        datasets: [{
                                            label: 'Nombre de voitures',
                                            data: data,
                                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                                            borderColor: 'rgba(54, 162, 235, 1)',
                                            borderWidth: 1
                                        }]
                                    },
                                    options: {
                                        scales: {
                                            yAxes: [{
                                                ticks: {
                                                    beginAtZero: true
                                                }
                                            }]
                                        }
                                    }
                                });
                            });
                        </script>
                    </div>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>
</body>   
{% endblock%}